*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

.cajas{
  width: 98%;
  margin:20px;
  background: yellow;
}

.cajas p{
  padding: 10px 0px 50px 10px;
}
.caja-rosa{
  border:1px solid #000;
  background: magenta;
}
