*{
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
.caja-padre{
  margin-left: 21%;
}

.caja-hijo{
  width: 70px;
  height: 70px;
  background: #a993af;
  border: 1px solid #000;
  margin: 7px 3.5px;
}

.contenedor, .caja-invisible{
  width: auto;
  height: auto;
}
.contenedor{
  display: inline-block;
  padding: 0px 7px;
}
.caja-invisible{
  display: block;
}

.contenedor>div, .caja-invisible>div{
  display: inline-block;
}
